@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div>
    @if (!String.IsNullOrEmpty(Model.Title))
    {
        <h4 style="display: inline;">Title:</h4>
        <h5 class="text-danger" style="display: inline;">@Model.Title</h5>
    }
</div>

<div>
    @if (Model.StatusCode.HasValue)
    {
        <h4 style="display: inline;">StatusCode:</h4>
        <h5 class="text-danger" style="display: inline;">@Model.StatusCode</h5>
    }
</div>

<div>
    @if (Model.Detail != null)
    {
        <h4 style="display: inline;">Details:</h4>
        <h5 class="text-danger" style="display: inline;"><span>@Html.Raw(Model.Emoji)</span> @Model.Detail</h5>
    }
</div>

<div>
    @if (Model.RequestId != null)
    {
        <p style="display: inline;">Request Id: <span class="text-danger">@Model.RequestId</span></p>
    }
</div>
