@model IdManagement.Models.AccountViewModels.IndexViewModel
@{
    ViewData["Title"] = "Manage your Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@TempData["StatusMessage"]</p>
<p class="text-danger">@TempData["ErrorMessage"]</p>
<dl class="dl-horizontal">
    <dt>User Name</dt>
    <dd>@Model.Username</dd>

    <dt>User Email</dt>
    <dd>@Model.Email</dd>
</dl>

<hr />

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Phone Number:</dt>
        <dd>
            <p>
                A SMS message will be sent to the phone number you provide to verify your phone number. This Web Application <strong>WILL NOT USE SMS FOR SECURITY PURPOSES</strong>
            </p>
            @(Model.PhoneNumber ?? "No phone number on record")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="PhoneNumber">Change</a>&nbsp;&nbsp;]</text>
                <form style="display: inline;" asp-controller="Account" asp-action="RemovePhoneNumber" method="post" role="form">
                    [<button type="submit" class="btn-link">Remove</button>]
                </form>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="PhoneNumber">Add</a>&nbsp;&nbsp;]</text>
            }
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                Two Factor Authentication is configured to work with a Time-based, One-time Password Algorithm (TOTP), Authenticator App such as <br />
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_CA" target="_blank">Google Authenticator</a>
                OR
                <a href="https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=en_CA" target="_blank">Microsoft's Authenticator</a>
                installed on another device (cell phone, tablet).
            </p>
            <p>
                <a href="https://www.youtube.com/watch?v=2ZLnBx8Mm40" target="_blank">Click to see how to use an Authenticator App</a>
            </p>

            <p>
                This Web Application does NOT use SMS for Two Factor Authentication. SMS for 2FA is not as reliable (No cell reception areas) or as secure; SMS messages have been hacked many times and are no longer considered reliable for security. SMS messages still have their use, so this Web Application may use SMS text messaging for other uses, but NOT for logging into any secure area.
            </p>

            @if (Model.TwoFactor)
            {
                <dl class="dl-horizontal">
                    <dt>Authentication App:</dt>
                    <dd>
                        <form asp-controller="Account" asp-action="Disable2faWarning" method="get" class="form-horizontal" role="form">
                            Enabled [<button type="submit" class="btn-link">Disable 2FA</button>]
                        </form>
                    </dd>
                </dl>
            }
            else
            {
                <form asp-controller="Account" asp-action="EnableAuthenticator" method="get" class="form-horizontal" role="form">
                    [<button type="submit" class="btn-link">Enable 2FA</button>] Disabled
                </form>
            }
        </dd>
    </dl>
</div>

